body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.loginsignup {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none; /* No background color */
}

.loginsignup-container {
  width: 400px;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.loginsignup-container h1 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.input-container i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 16px;
}

.input-container input {
  width: calc(100% - 40px);
  padding: 10px 10px 10px 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  color: #333;
}

.input-container input:focus {
  border-color: #555;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: rgba(207, 95, 20, 1);
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

button:hover {
  background: rgba(165, 75, 15, 1);
}

.loginsignup-login {
  margin-top: 20px;
  color: #555;
  font-size: 14px;
}

.loginsignup-login span {
  color: rgba(165, 75, 15, 1);;
  font-weight: bold;
  cursor: pointer;
}

.loginsignup-login span:hover {
  text-decoration: underline;
}

.loginsignup-agree {
  display: flex;
  align-items: center; /* Vertically aligns checkbox and text */
  gap: 10px; /* Space between the checkbox and the text */
  margin-top: 20px;
  font-size: 14px;
  color: #5c5c5c; 
}

.loginsignup-agree input {
  margin-right: 10px;
}

.loginsignup-agree input[type='checkbox'] {
  width: 16px; /* Adjust the size of the checkbox */
  height: 16px;
  cursor: pointer; /* Makes the checkbox more interactive */
}