.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(44, 51, 66, 1);
  color: white;
  padding: 20px 0;
  gap: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.footer-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo-large {
  width: 150px; /* Large logo size */
  height: auto;
}

.footer-middle {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.footer-heading {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.footer-middle p {
  margin: 0;
  font-size: 14px;
}

.footer-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-icons-container {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-icons-container img {
  width: 25px;
  height: 25px;
}

.footer-icons-container:hover {
  color: #ff5722;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  font-size: 13px;
}

.footer-bottom hr {
  width: 80%;
  border: none;
  border-radius: 10px;
  height: 2px;
  background: #c7c7c7;
  margin: 10px 0;
}
